.publisher{
	width: 600px;
	width: 600px;
}

div.Contains_Pub 
{
	width: 600px;
	height: 700px;
}


div.Publisher_Screen{
	width: 600px;
	height: 700px;
}

.subscriber 
{
	width: 600px;
	width: 600px;

}

div.Subscriber_Screen{
	width: 600px;
	height: 700px;
}

div.Contains_Sub{
	width: 600px;
	height: 700px;
}